body {
    background-image: url(../assets/login-waves.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-color: white;
}

.login-container,
.text-container,
.button-text-box {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.text-container{
    text-align: left;
    margin-top: 10%;
    margin-right: 15%;
    position: relative;
}

h2{
    -webkit-text-stroke: 0.5px white;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.title-box {
    margin-bottom: 4rem;
}

.title{
    font-size: 50px;
    text-align: center;
}

.image {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.image img {
    width: 520px;
    height: auto;
    display: block;
}

@media (max-width: 767px) {
    body {
        background-image: none;
        background-color: #FFFFFF;
    }

    .button-text-box{
        width: 100%;
    }
}